<div class="login-page">
  <div class="login-container">
    <h1>Sign In</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <!-- Email -->
      <div class="field">
        <label>Email</label>
        <input
          type="email"
          placeholder="Ex. example@mail.com"
          formControlName="email"
        />

        @if ((f['email'].touched || submitted) && f['email'].invalid) {
          <small>Please enter a valid email.</small>
        }
      </div>

      <!-- Password -->
      <div class="field password-field">
        <label>Password</label>
        <input
          type="password"
          placeholder="Enter Password"
          formControlName="password"
        />

        @if ((f['password'].touched || submitted) && f['password'].invalid) {
          <small>Password must be at least 8 characters.</small>
        }
      </div>

      <!-- Login Error -->
      @if (loginError) {
        <div class="login-error">
          {{ loginError }}
        </div>
      }

      <button type="submit" [disabled]="loginForm.invalid">
        Continue
      </button>
    </form>

    <p class="switch">
      Don’t have an account?
      <a routerLink="/signup">Create one</a>
    </p>
  </div>
</div>
